doctype html
html(lang="en")



  head
    //- meta(charset='UTF-8')
    //- meta(name='viewport' content='width=device-width, initial-scale=1.0')
    //- meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Registration form
    link(rel="stylesheet",href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    //- link(rel='stylesheet' href='bootstrap/css/custom.css')
    //- script(src='validation.js')








  body
    div.container-fluid(style='background-color:#563d7c;')
      div.card-body.text-center
        h3.text-white ProfileMe

    block content
    block foot

      div.container-fluid.bg-secondary.mb-4
        div.card-body.text-center
          h3.text-white  ProfileMe &copy; Maria Angella Aboyo






